<div class="jumbotron">
  <h1>Glad to see you!</h1>
  <p>Welcome to my SPA! <br>
    login as admin to:
    </p>
    <ul>
      <li>see users list</li>
      <li>check user profiles</li>
      <li>change user roles</li>
    </ul>
    <p>
    login as user to:
    </p>
      <ul>
        <li>see users list</li>
        <li>check own profile</li>
      </ul>

</div>